n8n-workflows/send-email-workflow.json
{
  "name": "LeadIntel - Send Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadintel-send-email",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "leadintel-send-email"
    },
    {
      "parameters": {
        "sendTo": "={{$json.body.to}}",
        "subject": "={{$json.body.subject}}",
        "message": "={{$json.body.message}}",
        "options": {
          "ccEmail": "",
          "bccEmail": ""
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "SentEmails!A:F",
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Send Email", "type": "main", "index": 0}]]
    },
    "Send Email": {
      "main": [[{"node": "Log to Sheets", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "id": "4"
}
